.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.AppHeader {
  height: 60px;
  background-color:darkslategray;
  margin: 0 auto;
}

.header_logo {
  height: 30px;
  width: 30px;
  display: flex;
  margin: auto;
  align-items: center;
}

.header_row {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}

.Alicka {
  height: 30px;
  width: 30px;
}

.header_nav ul {
  display: flex;
  column-gap: 75px;
  align-items: center;
  list-style-type: none;
}

.header_nav a {
  color:aliceblue
}

.header_nav {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 10px;
}

.header_nav_btn {
  padding: auto;
}